body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 5px; 
    width: 600px; 
    margin: 80px auto; 
}

.cell {
    background-color: #f0f0f0;
    height: 200px; 
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.6rem;
    font-weight: bold;
    cursor: pointer;
}

#message {
    font-size: 2rem;
    margin-bottom: 80px;
}

#restartBtn {
    width: 8rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(185, 2, 2);
    color: white;
    cursor: pointer;
}